#navbar{
    margin-left: 60%;
    list-style: none;
}

#pot1{
    width: 30%;
}

#div1{
    display: flex;
}

#saleplant{
    width: 5%;
    height: 3%
}

#div2{
display: grid;
grid-template-columns: 700px 700px 400px;
}

#div3{
    display: grid;
    grid-template-columns: 20% 20% 20%;
}

#div4{
    display: flex;
}

#div5{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#bpot{
    width:10%;
}

#bigpot{
    width: 10%;
}

#div6{
    display: flex;
}

#footer{
    display: flex;
    list-style: none;
}





@media screen and (min-width: 390px) and (max-width: 939px){
    #navbar{
        display: grid;
    }

    }

   #div1{
    font-size: 60%;
    display: grid;
   }

   #div2{
   display: grid;
   }

   #saleplant{
    width: 5%;
   }

   #div3{
    display: grid;
   }

#footer{
    display: grid;
}
   




