#navbar{
    margin-left: 60%;
}

#pot1{
    width: 30%;
}

#div1{
    display: flex;
}

#saleplant{
    width: 5%;
    height: 3%
}

#div2{
    display: flex;
}

#div3{
    display: flex;
}

#div4{
    display: flex;
}

#div5{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}

#bpot{
    width:10%;
}

#bigpot{
    width: 10%;
}

#div6{
    display: flex;
}

@media screen and (min-width: 414px) and ()